.item{
    border: 1px solid red;

    

}
/* .item{
display: grid; */
/* grid-template-columns: minmax(auto, 400px);
grid-template-columns: minmax(auto, 50%) 1fr 3em; */

/* } */


/* auto-fill, auto-fit - repeat() */
.items-auto-fill {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }



  /* auto-fit  */
  .items-auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  /* wrap-> flex-wrap */


  /* task1 */
  .images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    justify-content: center;
    gap: 10px;
    
  }
  .image{
    width: 100%;
    height: 100%;
    border: 1px dotted rgb(187, 0, 255);
  }


  /* grid area */
  
  
  .wrapper{
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 200px 50vh 200px;
    grid-template-areas: 
    "head head head" 
    "aside-left section aside-right"
    "footer footer footer";
  }
  header{
    background-color: aqua;
    grid-area: head;
  }
  
  footer{
    background-color: aqua;
    grid-area: footer;
  }

  section{
    background-color: bisque;
    grid-area: section;
  }
  
  .aside-left{
    background-color: blueviolet;
    grid-area: aside-left;
  }
  .aside-right{
    background-color: brown;
    grid-area: aside-right;

  }



  #main-menu{
    width: 100%;
    list-style-type:none ;
    display: flex;
  }
  .menu-item{
    color: black;
    text-decoration: none;
    margin-right: 50px;
    font-size: 30px;
    align-items: center;
  }

  .logo img{
    width: 100px;
  }
  header{
    display: flex;
    justify-content: space-evenly;
  }

  