*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainPage{
    max-width: 3000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;

}



